<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43997878071-ag5umenpovm9182ujl5328m2mblt16ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43997878071-ag5umenpovm9182ujl5328m2mblt16ih</string>
	<key>API_KEY</key>
	<string>AIzaSyCiaVkY2CCG2ys4tCaTXzMR_AdvScb9XKk</string>
	<key>GCM_SENDER_ID</key>
	<string>43997878071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.RNFirebasePagination</string>
	<key>PROJECT_ID</key>
	<string>rnfirebasepagination</string>
	<key>STORAGE_BUCKET</key>
	<string>rnfirebasepagination.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43997878071:ios:d7ed9a328ff82941336cb2</string>
</dict>
</plist>